.banner .aside,
.banner .title,
.centered,
.lp-form,
footer,
header.sticky .alert-row {
	text-align: center
}

.uppercase,
footer .footer-links a {
	text-transform: uppercase
}

@keyframes scaleUpDown {

	0%,
	to {
		transform: scale(1)
	}

	50% {
		transform: scale(1.1)
	}
}

.clear::after::after,
.clear::before::after,
.comment-content::after::after,
.comment-content::before::after,
.entry-content::after::after,
.entry-content::before::after,
.site-content::after::after,
.site-content::before::after,
.site-footer::after::after,
.site-footer::before::after {
	display: table;
	content: "";
	clear: both
}

.clear::after,
.comment-content::after,
.entry-content::after,
.site-content::after,
.site-footer::after,
.site-header::after,
.slick-track:after {
	clear: both
}

.fleft {
	float: left
}

.fright,
[dir=rtl] .slick-slide {
	float: right
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important
}

.screen-reader-text:focus {
	border-radius: 3px;
	-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
	clip: auto !important;
	display: block;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000
}

#content[tabindex="-1"]:focus,
.slick-list:focus {
	outline: 0
}

.hidden,
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer,
.slick-arrow.slick-hidden,
.slick-slide.slick-loading img,
header .navbar .title-wrapper,
header.sticky .verify {
	display: none
}

.infinity-end.neverending .site-footer,
.slick-initialized .slick-slide,
.slick-slide img {
	display: block
}

@media print {

	a:link,
	a:visited,
	body {
		background: #fff;
		color: #000
	}

	body {
		margin: 0;
		padding: 0;
		text-align: left
	}

	a:link,
	a:visited {
		text-decoration: underline
	}

	a:not([href="javascript:;"])::after {
		content: " [" attr(href) "] "
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		background: 0 0;
		color: #000
	}

	.temp {
		display: none
	}
}

.slick-list,
.slick-slider,
.slick-track {
	position: relative;
	display: block
}

.slick-slider {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent
}

.slick-list {
	overflow: hidden;
	margin: 0;
	padding: 0
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand
}

.slick-slider .slick-list,
.slick-slider .slick-track {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

.slick-track {
	top: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto
}

.slick-track:after,
.slick-track:before {
	display: table;
	content: ""
}

.slick-loading .slick-slide,
.slick-loading .slick-track {
	visibility: hidden
}

.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px
}

.slick-slide.dragging img {
	pointer-events: none
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent
}

html,
html *,
html :after,
html :before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

body button,
body h1,
body h2,
body h3,
body h4,
body h5 {
	font-family: Barlow, Arial, Helvetica, sans-serif;
	letter-spacing: .5px
}

body a {
	letter-spacing: .5px
}

body p {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.8
}

blockquote,
body,
input,
q,
select,
textarea {
	font-family: Barlow, Arial, Helvetica, sans-serif !important;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	color: #212121
}

@media all and (min-width:442px) {
	h2 {
		font-size: 1.875rem
	}

	h3 {
		font-size: 1.5rem
	}
}

a {
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	text-decoration: underline
}

strong {
	font-weight: 800
}

.text-light,
footer {
	font-weight: 300
}

a.btn-primary {
	display: inline-block;
	width: auto
}

a.btn-primary:hover,
button.btn-primary:hover {
	border-color: #f2f0ec;
	background-color: #2c2b2a
}

.color-primary {
	color: #4d453d
}

.color-secondary {
	color: #a69685
}

.background,
.background .overlay,
.background img,
.lp-form::before {
	position: absolute;
	left: 0;
	width: 100%
}

.banner .container,
.lp-form,
.lp-form .lp-form-wrapper,
.timer .timer__box,
header.sticky .alert-row {
	position: relative
}

.background {
	top: 0;
	height: 100%;
	overflow: hidden
}

.background img {
	top: 0;
	left: 50%;
	width: auto;
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%)
}

.background .overlay {
	top: 0;
	height: 100%;
	background: #fff;
	opacity: 0
}

.text-gradient {
	background: #4d453d;
	background: -o-linear-gradient(bottom, #4d453d 0, #f8f5f1 100%);
	background: linear-gradient(0deg, #4d453d 0, #f8f5f1 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent
}

.title {
	font-weight: 400;
	margin-bottom: .8em;
	line-height: 1.1;
	letter-spacing: 0;
	text-transform: none
}

.title .title__large {
	font-size: 1.2em;
	line-height: 1.1em;
	letter-spacing: .05em
}

.title span {
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	letter-spacing: inherit
}

.title .letter-spacing {
	letter-spacing: .1em
}

.list {
	list-style: none;
	padding: 0
}

.list.list--fa li i {
	padding-right: 20px;
	font-size: 1.2em
}

.list.list--fa-padded li {
	position: relative;
	padding-left: 30px;
	margin: 8px 0
}

.list.list--fa-padded li i {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1.2em
}

.lp-form {
	padding: 20px 20px 5px;
	margin: 0 auto;
	width: 100%;
	max-width: 360px;
	border-radius: 15px;
	overflow: hidden;
	-ms-box-shadow: 0 60px 60px -40px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 60px 60px -40px rgba(0, 0, 0, .2);
	box-shadow: 0 60px 60px -40px rgba(0, 0, 0, .2)
}

.popup,
header.sticky {
	position: fixed;
	left: 0
}

.lp-form::before {
	content: "";
	bottom: 0;
	height: 110px;
	display: block
}

.lp-form .title {
	color: #fff;
	text-align: left !important;
	text-shadow: 0 2px 4px rgba(105, 96, 86, .2)
}

.lp-form .form-group {
	padding: 0 15px;
	border-radius: 30px;
	background: #fbf1f7;
	overflow: hidden;
	-ms-box-shadow: 0 6px 13px rgba(0, 0, 0, .09), inset 0 2px 4px #ded9d5;
	-webkit-box-shadow: 0 6px 13px rgba(0, 0, 0, .09), inset 0 2px 4px #ded9d5;
	box-shadow: 0 6px 13px rgba(0, 0, 0, .09), inset 0 2px 4px #ded9d5;
	margin-bottom: 1.5rem
}

.lp-form .form-group .form-control {
	padding: 20px 12px;
	margin: 4px;
	background: 0 0;
	border: 0;
	color: #a69685;
	font-size: 20px;
	width: 90%
}

.has-error input[type=email],
.has-error input[type=tel],
.has-error input[type=text],
.has-error select,
.has-error.has-success input#phone_mask {
	border: none !important
}

.lp-form .form-group .form-control::-webkit-input-placeholder {
	color: #a69685
}

.lp-form .form-group .form-control::-moz-placeholder {
	color: #a69685
}

.form-control:focus-visible {
	outline-width: 0
}

.select-input {
	appearance: none;
	width: 100%;
	font-size: 20px;
	padding: 20px 6em 20px 1em;
	background-color: #fff;
	border: 1px solid #caced1;
	border-radius: .25rem;
	color: #000;
	cursor: pointer
}

.lp-form .form-group .form-control::-ms-input-placeholder {
	color: #a69685
}

.lp-form .form-group select.form-control,
.lp-form button:hover,
.lp-form select option:not(:first-of-type) {
	color: #000
}

.lp-form .lp-form-title-arrow::after {
	border-top-color: #4d453d
}

.lp-form .lp-form-wrapper form {
	padding: 0;
	background: 0 0;
	border-radius: 12px
}

.lp-form .lp-form-wrapper .encrypted {
	padding-top: 8px;
	font-size: 12px;
	color: #b3b3b3;
	letter-spacing: 0;
	margin-bottom: 0
}

.lp-form .lp-form-wrapper .encrypted i {
	margin-right: 8px
}

.lp-form .lp-form-secure {
	padding: 8px
}

.lp-form .lp-form-secure img {
	width: 50%
}

.timer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 30px
}

.timer .timer__box {
	margin: 0 4px;
	padding: 4px 10px 8px;
	font-size: 3.75rem;
	font-weight: 600;
	color: #000;
	border-radius: 70px;
	line-height: 1;
	overflow: hidden;
	background: #ffed6a;
	text-shadow: 0 4px 8px rgba(0, 0, 0, .09)
}

@media all and (min-width:442px) {
	.lp-form {
		padding: 30px 30px 15px;
		border-radius: 20px
	}

	.timer .timer__box {
		padding: 4px 12px 10px;
		margin: 0 6px
	}
}

.timer .timer__box.no-box {
	margin: 0;
	padding: 0;
	color: #000;
	background: 0 0;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}

.timer .timer__box.no-box::after {
	content: none
}

header.sticky {
	top: 0;
	width: 100%;
	z-index: 999
}

header.sticky .row {
	margin: 0;
	width: 100%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center
}

@media all and (max-width:320px) {
	.container {
		width: 100% !important
	}

	header.sticky .row>div {
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 auto;
		-moz-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		max-width: 100%;
		text-align: center;
		margin: 4px 0
	}
}

header.sticky .alert-row {
	background-color: rgba(0, 0, 0, .85);
	font-weight: 300;
	opacity: 1;
	color: #fff
}

header.sticky .alert-row .alert {
	padding: 4px 0;
	font-size: 14px;
	text-align: center;
	width: 100%;
	background-color: transparent;
	margin: 0
}

header.sticky .alert-row strong {
	font-weight: 700
}

header .navbar {
	background-color: rgba(30, 110, 204, .95);
	color: #fff;
	padding: 15px 0
}

header .navbar .logo {
	margin-left: 0
}

header .navbar .logo img {
	max-height: 60px
}

header .navbar .title {
	font-size: 16px;
	margin: 0;
	color: inherit;
	text-align: right
}

header .navbar .title .title__tagline {
	font-size: 1em
}

header .navbar button {
	margin: 0;
	font-size: 18px
}

.banner .background img {
	max-width: 880px;
	height: 750px;
}

@media all and (min-width:768px) {
	h2 {
		font-size: 2.25rem
	}

	h3 {
		font-size: 1.75rem
	}

	.lp-form {
		max-width: 460px
	}

	.timer .timer__box {
		font-size: 4.225rem;
		padding: 4px 26px;
		margin: 0 8px
	}

	header.sticky .alert-row .alert {
		padding-left: 60px;
		font-size: 16px
	}

	header.sticky .verify {
		position: absolute;
		display: block;
		top: 0;
		left: 0
	}

	header .navbar {
		padding-left: 50px
	}

	header .navbar .title-wrapper {
		display: block
	}

	.banner .background img {
		left: 50%
	}
}

.banner .row {
	display: flex;
	gap: 1.5rem;
	margin-right: auto;
	margin-left: auto;
	max-width: 1080px
}

.form-container {
	max-width: 650px
}

.col-sm-8,
.lp-form button {
	max-width: 100%
}

@media all and (max-width:992px) {
	.banner .row {
		display: block !important
	}

	.banner .row>* {
		flex-basis: 100% !important
	}

	.form-container {
		max-width: 100%
	}
}

.banner .aside .caption {
	font-weight: 600;
	font-size: 2.5rem;
	color: #fff;
	line-height: 1.6em
}

.banner .aside .caption svg {
	width: 119px;
	fill: currentColor
}

@media all and (min-width:442px) {
	header .navbar button {
		font-size: 24px
	}

	.banner {
		padding: 40px 0 30px
	}

	.banner .background img {
		left: 50%
	}

	.banner .aside .caption svg {
		width: 180px
	}
}

.banner .aside img {
	max-width: 65%;
	margin-bottom: 0
}

@media all and (min-width:576px) {
	body p {
		font-size: 16px
	}

	.banner .aside img {
		max-width: 75%
	}
}

footer {
	padding: 10px 0 20px;
	color: #565656;
	font-size: 13px
}

@media all and (min-width:992px) {
	h2 {
		font-size: 2.625rem
	}

	h3 {
		font-size: 1.875rem
	}

	.lp-form {
		max-width: unset;
		border-radius: 30px
	}

	.lp-form::before {
		height: 118px
	}

	.timer .timer__box {
		font-size: 5.225rem;
		margin: 0 10px;
		text-shadow: 0 6px 16px rgba(0, 0, 0, .19)
	}

	header.sticky .alert-row .alert {
		font-size: 15px
	}

	.banner {
		padding: 40px 0 0
	}

	.banner .aside .caption {
		position: relative;
		font-weight: 400
	}

	.banner .aside img {
		max-width: 100%
	}

	footer {
		padding: 30px 0 20px
	}
}

@media all and (min-width:1200px) {
	h2 {
		font-size: 3.75rem
	}

	h3 {
		font-size: 2.25rem
	}

	a.btn-primary,
	button.btn-primary {
		font-size: 20px
	}

	.lp-form .form-group {
		margin-bottom: 2rem
	}

	.timer {
		margin-bottom: 60px
	}

	.timer .timer__box {
		font-size: 6.225rem
	}

	header.sticky .alert-row .alert {
		padding: 4px 0;
		font-size: 16px
	}

	header .navbar .title {
		font-size: 18px
	}

	.banner {
		padding: 0 0 40px
	}

	.banner .background img {
		max-width: unset
	}

	.banner .aside img {
		max-width: 100%
	}

	footer {
		font-size: 16px
	}
}

footer p {
	color: #6e6e70;
	font-size: inherit
}

footer .footer-links {
	color: #a69685
}

footer .footer-links a {
	font-weight: 600;
	color: #a69685
}

.title {
	color: #fff;
	text-shadow: 0 5px 11px rgb(0 0 0/50%)
}

.contact {
	font-size: 2.75rem;
	margin-top: 24px
}

.lp-form,
.lp-form::before {
	background: #155fa8
}

.col-xl-6 .btn-custom {
	background-size: cover;
	color: #fff;
	border-radius: 20px;
	background-image: radial-gradient(circle farthest-side, #40c182, #36a553);
	width: 90%;
	padding: 20px;
	margin: 30px;
	font-size: 40px
}

.lp-form .form-group,
.lp-form .form-group select.form-control {
	border: 0
}

@media screen and (max-width:640px) {
	.title .letter-spacing {
		font-size: 20px
	}

	.col-xl-6 .btn-custom {
		margin: 40px 15px
	}
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}

a.btn-primary,
button.btn-primary {
	color: #fff;
	padding: 10px;
	font-size: 18px;
	font-weight: 400;
	font-family: Barlow, Arial, Helvetica, sans-serif;
	text-transform: none;
	border: 4px solid #f2f0ec;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 36px;
	background-color: #4d453d;
	-ms-box-shadow: inset 0 2px 0 rgba(255, 255, 255, .3);
	-webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, .3);
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, .3)
}

.pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse
}

.popup {
	bottom: 0
}

.popup-container {
	width: 330px;
	margin: 20px;
	border-radius: 10px;
	height: 80px;
	display: flex;
	padding: 0;
	box-shadow: 0 10px 7px rgba(10, 10, 10, .2);
	transition: max-height .6s ease-out, opacity .4s ease-out;
	max-height: 80px;
	overflow: hidden
}

@media all and (max-width:444px) {
	.popup-container {
		margin: 0;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0
	}

	.popup {
		right: 0
	}
}

.slide-up {
	max-height: 80px !important;
	opacity: 0
}

.slide-down {
	max-height: 0;
	opacity: 1
}

.popup-container .left {
	width: 80px;
	height: 80px;
	padding: 10px;
	background: #fff
}

.popup-container .left img {
	width: 100%;
	height: 100%
}

.popup .right {
	width: 250px;
	background: #c1d2f9;
	background: linear-gradient(270deg, #c1d2f9 0, #afebf4 100%);
	background-repeat: repeat;
	background-position: 0 0;
	background-attachment: scroll;
	background-size: 100%;
	background-color: #fff
}

.popup-container .right .message {
	padding-top: 8px;
	font-size: 11px;
	line-height: 10px
}

.popup-container .right p {
	margin: 0 0 0 12px;
	padding: 2px
}

.btn-custom {
	animation: 1s infinite scaleUpDown
}